@model SimpleBlog.ViewModel.AuthLogin
@{

    ViewBag.title = "Log in page";
}

@Html.ValidationSummary()
@using (Html.BeginForm())
{ 

    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
    </div>
    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>
    <div>
        @Html.LabelFor(x => x.DateOfBirth)
        @Html.EditorFor(x => x.DateOfBirth)
    </div>
    <div>
        <input id="Submit" type="submit" value="Login" />
    </div>
}
    
    
  